/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.schedule_container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    overflow-y: auto;
    max-height: 80vh;
}

.schedule {
    margin-top: 20px;
}

.schedule ul {
    list-style: none;
    padding: 0;
}

.schedule li {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.schedule li h3 {
    font-size: 20px;
    font-weight: bold;
}

.schedule li p {
    font-size: 14px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    /* margin-bottom: 5px; */
    font-size: 14px;
    color: #555;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

.input:focus {
    border-color: #666;
    background-color: #fff;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

.timeranges-group {
    display: flex;
}

.form-group {
    display: flex;
    align-items: center;
    flex: 1;
}

.timeranges-group label {
    margin: 0px 5px 0;
}

.timerangeBtn {
    width: 200px;
}

.timeranges-group {
    display: flex;
}

.form-group {
    display: flex;
    align-items: center;
    flex: 1;
}

.timeranges-group label {
    margin: 0px 5px 0;
}

.timerangeBtn {
    width: 200px;
}

.checkbox-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container:not(:last-child) {
    margin-right: 15px;
}

.checkbox-container input {
    display: none;
}

.checkmark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.checkmark.small {
    font-size: 12px;
    width: 40px;
    height: 24px;
}

input:checked + .checkmark {
    background-color: #333;
    color: white;
}

.checkmark[data-day="monday"]::after {
    content: "Mon";
}
.checkmark[data-day="tuesday"]::after {
    content: "Tue";
}
.checkmark[data-day="wednesday"]::after {
    content: "Wed";
}
.checkmark[data-day="thursday"]::after {
    content: "Thu";
}
.checkmark[data-day="friday"]::after {
    content: "Fri";
}
.checkmark[data-day="saturday"]::after {
    content: "Sat";
}
.checkmark[data-day="sunday"]::after {
    content: "Sun";
}

/* Стилі для панелі додавання */
.addPanel {
    display: none;
}

.addPanel h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.cancelBtn {
    width: 100%; /* Щоб кнопка займала всю ширину */
    padding: 10px;
    background-color: transparent; /* Прозорий фон */
    color: #333; /* Чорний колір тексту */
    border: 2px solid #333; /* Чорна рамка */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавний перехід */
}

.cancelBtn:hover {
    background-color: #f0f0f0; /* Світлий фон при наведенні */
}

.cancelBtn:focus {
    outline: none; /* Прибирає контур при фокусі */
}

/* Стилі для записів */
.schedule ul {
    list-style: none;
    padding: 0;
}

.schedule li {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.schedule li h3 {
    font-size: 16px;
    font-weight: bold;
}

.schedule li p {
    font-size: 16px;
}

.deleteBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
}

.deleteBtn:hover {
    background-color: darkred;
}

#addButtonPanel {
    display: block;
}

@media (max-width: 450px) {
    .checkbox-container:not(:last-child) {
        margin-right: 10px;
    }

    .checkbox-container .checkmark {
        font-size: 16px;
        width: 32px;
        height: 32px;
    }

    .schedule_container h1 {
        font-size: 24px;
    }
}

@media (max-width: 376px) {
    .checkbox-container:not(:last-child) {
        margin-right: 8px;
    }

    .checkbox-container .checkmark {
        font-size: 16px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 321px) {
    .checkbox-container:not(:last-child) {
        margin-right: 6px;
    }

    .checkbox-container .checkmark {
        font-size: 14px;
        width: 28px;
        height: 28px;
    }
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-left: 10px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

#scheduleList.disabled li {
    background-color: #f9f9f9;
    color: #bbb;
    pointer-events: none; /* Забороняє взаємодію */
    opacity: 0.6; /* Напівпрозорість */
}

#scheduleList.disabled .deleteBtn {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed; /* Вказує, що кнопка недоступна */
}

#scheduleList.disabled .slider {
    background-color: #ddd;
}

.circular-slider.disabled {
    opacity: 0.5; /* Напівпрозорість для відключеного стану */
    pointer-events: none;
}

.deleteTimerangeBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.deleteTimerangeBtn:hover {
    background-color: darkred;
}
